@charset "UTF-8"
body {
background-color: rgb(77, 77, 56);
font-size:20px;
font-family: Arial, Helvetica, sans-serif;
}

h1 {
color: rgb(245, 245, 245);
background-color: darkgoldenrod;    
}

h2 {
color: brown;
}
