@charset "Utf-8";
body{
background-color: lightgreen;
font-family: Arial, Helvetica, sans-serif;
}
h1{
color: rgb(20, 39, 0);
}

h1#principal{
    text-align: center;
    background-color: aqua;
    color: aliceblue;
}

h2{
color: darkgreen;
}

.basico {
    color: blueviolet;
}

.intermediaria {
    color: brown;
}

.avançado {
    color: cornflowerblue;
}

.destaque {
    background-color: darkmagenta;
}