@charset "UTF-8"
{ height: 100%
; font: Arial, Helvetica, sans-serif;}

main{
background-color: white;
border-radius:10px;
width: 600px;
margin: auto;
box-shadow:5px 5x black
}
h1{
    color:#9FC131;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
h2{
    color:#DBF227;
}

p{
    text-align: justify;
}
body{
    background-image: linear-gradient(to bottom, #005C53, #d4dbe0);
    height: auto
    margin: 0%;

{/*Configurações globais das CSS*/}
}

